.landingPage{
    display: flex;
    flex-flow: column;
    width: 1440px;
    //height: 2274px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Avenir Next', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //height: 2090px;
    //background: #2B364B;

    &__form{
        width: 1440px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
        font-family: 'Avenir Next', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        //position: relative;
        &__elem{
            font-size: 20px;
            align-items: center;
            text-align: center;
            &__choose{
                color: #2B364B;
                margin: auto;
            }
        }
        &__head{
            color: #2B364B;
            font-size: 30px;
            align-items: center;
            text-align: center;
        }
    }
    &__card{
        font-size: 18px;
        font-weight: 600;
        //position: relative;
        &__header{
            //display: flex;
            //flex-flow: row;
            align-items: center;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            //position: relative;
            &__photo{
                border-radius: 50%;
                margin-top: -35px;
            }
            &__address{
                //margin-top: auto;
                background-color: #2B364B;
                max-width: fit-content;
                border-radius: 24px;
                color: #FFFFFF;
                padding: 7px 15px;
                font-size: 14px;
                font-weight: 600;
            }
            &__tip{
                margin-left: -40px;
                //margin-right: auto;
                border-style: dotted;
                color: #2B364B;
                max-width: max-content;
                padding: 7px 15px;
                font-weight: 600;
                font-size: 20px;
                font-family: 'Avenir Next', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        &__text{
            color: #2B364B;
            font-size: 20px;
            font-weight: 550;
        }
    }
}